# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Environment variables
.env

# Django migrations
**/migrations/

# Database files
*.sqlite3

# Media files
/media/

# Static files
/staticfiles/
*.log

# Virtual environment
venv/
env/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# macOS files
.DS_Store

# Node modules (if using JavaScript/Node.js)
node_modules/

# Coverage reports
htmlcov/
*.cover
.coverage
.cache
nosetests.xml
coverage.xml
*.lcov
